

a{
  text-decoration: none;
  color: white;
}
.header{
  background-color: #186250;
 top: 0;
  z-index: 10;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
    height: 175px;
    /* min-height: 175px;
    max-height: 175px; */
}

.header .left{
  padding: 0 30px;
  width: 36%;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.header .left::before{
  
  
            content: '';
            display: block;
            width: 1px;
            height: 120px; /* تحديد ارتفاع الخط العمودي */
            background-color: white; /* لون الخط */
            right: 90%;
            /* position: absolute; */
            z-index: 90;


}
.header .right{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.edit{
align-items: center;
  display: flex;
}
.edit img{
  width: 170px;
}
.edit ul{

  list-style: none;
  align-items: center;

  display: flex;
  margin-top: 0; 
    margin-bottom: 0rem;
}
.header .i  {
  margin: 2px 5px;
text-decoration: none;
  /* Other styles */
  padding: 40px 10px;
  font-size: 18px;
  font-weight: 700;

  text-decoration: none;
}

.header .i:hover,
.active1 {
  margin: 2px 5px;
  text-decoration: none;
  border-bottom: 1px solid #ea8f46;
  color: #ea8f46; /* Adjust this according to your design */
}
.p1{
  color: white;
    font-weight: 700;

}

@media screen and (min-width:769px) {
.m{
    display: none;
  }
  .s1{
    padding: 0 150px;
  }
  .d{
    margin-bottom: 19%;
  }
  .formstyle{
    width: 850px;
  }  
ul .x{
  display: none;
}
/* .carousel-caption{
  margin-bottom: 18%;
} */
}
@media screen and (max-width:760px) {
  .formstyle{
    width: 300px;
  }  
  .header .left{
      display: none;
    }
    .d{
      margin-bottom: 0%;
    } .s1{
      padding: 0 0px;
    }
    /* .carousel-caption{
      margin-bottom: -8%;
    } */
    .edit ul{
      padding: 20p 0px;
      height: 100vh;
      right: 0;
      top: 0%;
      transform: translatex(362px);
      background: #186250;
      position: absolute;
      flex-direction: column;
      width: 83%;
    }.active2{
      transition: ease 1s;
      margin-right: 362px;
     }
     .x{
      color: white;
    position: absolute;
    left: 10%;
    top: 3%;
     }
  
    .edit ul .i{
      border-bottom: 1pt solid;
      width: 100%;
      padding: 20px;
    }
  }
  .carousel-item img {
    object-fit: cover;
    height: 100%;
  }
  .carousel {
    margin-top: 188px;
    position: relative;
}  
.subtitle{
  height: 50px;
  margin: 20px;
}
.subtitle h3{
  color: #186250 ;
  font-size: 20px;
}
.title2{width: 320px;
  display: flex;
  flex-direction: column;
 
}
.title2 h2{
  font-size: 28px;
  font-weight: 700;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.serviceimage1{
  border-radius: 40px;
}
.serviceimage1:hover{
  border-radius: 20px;
  padding: 10px;
}
.w{ margin-left: 5px;
  padding:5px 7px;
  border-radius: 50%;
  background-color: #186250;
  color: white;
}
.formstyle{
  
 
  background-color: #186250;
  padding: 30px;
  border-radius: 20px;
}
form input{margin-bottom: 30px;
  width: 100%;
}
form button{
  width: 60px;
  margin-top: 30px;
}
.scroll-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  z-index: 1000;
}

.scroll-to-top-button i {
  font-size: 20px;
}
.footer img{
  width: 170px;
}